


Calendar.element.style{
    /*background-color: #265985    !important;*/
    background-color: #ff6c00    !important;   
}
.rbc-event {
    /*background-color: #265985    !important;*/
    background-color: #ff6c00    !important;
    border: 1px solid #ff6c00    !important;
}


.rbc-timeslot-group {
    background-color:white;
  }
